<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <a class="navbar-brand" href="<% if(isLoggedIn) { %>/home
  <% } else { %>/
  <% } %>">Strona główna</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if(isLoggedIn) { %>
      <li class="nav-item">
        <a class="nav-link" href="/panel" id="panel">Panel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list" id="list">Lista samochodów</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout" id="logout">Wyloguj</a>
      </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/login" id="login">Logowanie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/register" id="register">Rejestracja</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
