<h3>Dodaj nowe wypożyczenie</h3><br>
<form method="POST" action="/panel/service/hire/add">
  <div class="form-group row">

     <input class="form-control" type="text" name="plate" placeholder="numer rejestracyjny">
     </div>
     <div class="form-group row">
     <input class="form-control" type="text" name="user" placeholder="login użytkownika">
     </div>
     <div class="form-group row">
     <input class="form-control" type="date" name="date" placeholder="liczba dni">
     </div>
     <div class="form-group row">
     <button class="btn btn-primary" type="submit">Dodaj</button>
     </div>
</form>

<% if(typeof(message) !== 'undefined'){ %>
<div><%= message %></div>
<% } %>
