<h3>Dodaj nowy model lub markę</h3><br>
<form action="/panel/service/car/model/add" method="POST">

     <div class="form-group row">
       <input class="form-control" type="text" name="manu" placeholder="Marka" />
     </div>

     <div class="form-group row">
       <input class="form-control" type="text" name="model" placeholder="Model" />
     </div>

     <div class="form-group row">
       <button class="btn btn-primary" type="submit">Dodaj</button>
     </div>
</form>

<% if(typeof(message) !== 'undefined'){ %>
<div><%= message %></div>
<% } %>
