<h3>Dodaj pojazd</h3>
<form action="/panel/service/car/model/add" method="POST">
     <input type="text" name="manu" placeholder="Marka" />
     <input type="text" name="model" placeholder="Model" />
     <input type="submit" value="Dodaj">
</form>

<% if(typeof(message) !== 'undefined'){ %>
<div><%= message %></div>
<% } %>