<ul>
  <h1>Wypożyczalnia samochodów</h1>
  <small>Zalogowano jako <%= userType %></small>
  <p>Strona przygotowana w celu zaprezentowania działania bazy danych na zajęcia "Bazy i hurtownie danych w internecie"</p>
  <p>Wykonali: Piotr Dudkiewicz i Bartosz Bagdziun</p>
</ul>
