<h1>Panel administratora</h1>
<ul>
     <li><a href="/panel/service/car/model/add"> Dodaj nowy model lub markę</a></li>
     <li><a href="/panel/service/car/specimen/add"> Dodaj nowy samochód</a></li>
     <li><a href="/panel/service/hire/add"> Dodaj nowe wypożyczenie</a></li>
     <li><a href="/panel/service/hire/getAll"> Lista aktualnych wypożyczeń</a></li>
</ul>
