<ul>
     <li><a href="/panel/service/car/model/add"> Dodaj model lub markę</a></li>
     <li><a href="/panel/service/car/specimen/add"> Dodaj samochód</a></li>
     <li><a href="/panel/service/hire/add"> Dodaj wypożyczenie</a></li>
     <li><a href="/panel/service/hire/getAll"> Lista Wypożyczeń</a></li>
</ul>